.wrapper {
    display: grid;
    grid-template-columns: auto 230px minmax(320px, 1200px) ;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 0 30px;
    grid-template-areas:
    ". header header "
    ". sidebar main "
    ". footer footer";
}

/* ==================== HEADER ==================== */
.header {
    grid-area: header;
    display: none;
}

/* ==================== SIDEBAR ==================== */
.sidebar {
    grid-area: sidebar;
}

/* ==================== MAIN ==================== */
.main {
    grid-area: main;
}

/* ==================== FOOTER ==================== */
.footer {
    grid-area: footer;
}

/* ==================== ADAPTIVE ==================== */
@media (max-width: 765px) {
    .wrapper {
        grid-template-columns: minmax(320px, 1fr);
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    
    .sidebar {
        display: none;
    }
    .header {
        display: block;
    }
}